*,
*::before,
*::after {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   padding-top: 54px;
   font-size: 16px;
   line-height: 1.5;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
   vertical-align: middle;
}

.container {
   width: 1240px;
   margin: 0 auto;
   padding: 0 20px;
}

.todo-input{
   display: block;
   width: 200px;
   margin: 0 auto;
   padding: 5px;
   margin-bottom: 25px;
}

.todo-list{
   width: 500px;
   padding: 0;
   margin: 0 auto;
   text-align: center;
   list-style-type: none;
}

